/*** VSCodeEDU preview fix ***/
html {
    background-color: transparent; 

}

/*** body ***
  When To Modify:
  - [ ] Project 3 (REQUIRED FEATURE) 
***/

body {
    background-image: url(img/winter.jpg);
    background-size: cover;
    background-position: center center;

    background-color: transparent; 
    font-size: 16px;
    color: var(--text-color);
    font-family: Tahoma, sans-serif; 
    margin: 0 50px 50px 50px;
}

/*** Text ***
  
  Purpose: 
  - Add style rules for headings (h1-6),
    paragraphs (p), links (a), and buttons

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
***/

h1 {
    text-align: center;
}

h2 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    text-align: center;
    padding: 3px;

    text-shadow: 3px 3px 1px var(--accent-color-dark);

}

p {color: var(--text-color);}

a,
a * {
    
}

button {
    background-color: rgb(2, 27, 101);    
    color: white;               
    border: none;               /* hides the default border */
    padding: 10px 15px;          /* space between button's text and edge */
    border-radius: 10px;         /* curved edges instead of square */
    cursor: pointer;            /* makes the cursor change when over button */
    font-weight: bold;
    font-family: Tahoma, sans-serif; 
    margin: 0;
}
button:hover {
    /* Make the button look different when the user hovers over it */
    background-color: #62329e;
    box-shadow: 0px 0px 5px 2px var(--accent-color-darkest);

}

a:link {
  text-decoration-line: none;

}
a:visited {
  color:var(--accent-color-fuschia)
}
a:hover {
  color: var(--accent-color-purple)
}
a:active { 
  color:rgb(49, 16, 134);
}

/*** header ***
  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Project 4 (REQUIRED FEATURE) 
***/

.header-container { 
    margin-top: 0; 
    margin-bottom: 0;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* viewheight */
}
.header-item:nth-of-type(1) {
  /* Omori img */
  width: 45%;
  margin-right: 20px;
  justify-content: center;
  filter: drop-shadow(5px 7px 7px var(--text-color));
}
.header-item:nth-of-type(2) {
  /* the intermission orch */
    width: 55%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;

}
.header-item:nth-of-type(2) h1{
    text-align: start;
    font-family: "Gill Sans", sans-serif;
    font-size: 30pt;
}
.header-item:nth-of-type(2) h2{
  /* anime video games */
    text-align: start;
    font-size: 16pt;
    color: var(--accent-color-dark);
    text-shadow: 0px 0px;
}
#intermission-orch {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color-dark);
  color: white;
  font-family: "Gill Sans", sans-serif;
  font-size: 30pt;
  font-weight: bolder;
  text-shadow: 5px 5px 5px var(--accent-color-dark);
}
#dec-concert{ 
  font-family: cursive; 
  font-size: 40pt;
  padding: 15px;
  margin: 0;
  font-weight: bolder;
  color: white;
  width: fit-content;
  border-radius: 10px;
  text-align: center;
  background-color: var(--accent-color-dark);
  box-shadow: 10px 10px 10px rgb(49, 16, 134);

}
#dec-concert:hover{ 
  font-family: cursive; 
  font-size: 40pt;
  padding: 15px;
  margin: 0;
  font-weight: bolder;
  color: white;
  width: fit-content;
  border-radius: 10px;
  background-color: var(--accent-color-dark);
  box-shadow: 10px 10px 10px var(--accent-color-fuschia);

}
.header-button-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  width:auto;
}

/*** footer ***/

.footer { 
    position: fixed;
    left: 0px;
    bottom: 0px;
    padding: 0px;
    width: 100%;
    background-color: white;
    font-size: smaller;
    color: var(--accent-color-brown-dark);
    text-align: center;
    border-radius: 50px 50px 0px 0px;

    box-shadow: 0 3px 15px 5px rgba(80, 92, 107, 0.413) ;

}
.footer p {
  color: var(--accent-color-brown-dark);
}

/*** Navigation bar (navbar) ***
  When To Modify:
  - [ ] Project 4 (REQUIRED FEATURE) 
***/

.navbar ul {
    z-index: 1000; /* Ensures the navbar is on top of other elements */
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 0;
    background-color: rgba(240, 248, 255, 0.807);
    box-shadow: 0 4px 15px 10px rgba(80, 92, 107, 0.413) ;
    /*[horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color] [optional inset keyword];*/
}

.navbar ul li {
    float: left;
    margin: 10px;
}

.navbar ul li a {
    display: block;
    text-decoration: none;
    padding: 5px;
    color: var(--accent-color-darkest);
}

.navbar ul li a:hover {
    text-decoration: dotted;
    text-decoration-line: underline;
    color: var(--accent-color-purple);

}


/* Dark Mode / Motion Reduction Buttons */
.navbar-btn {
  border-radius: 40px;
  padding: 7px 4px 7px 4px; 
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 125px;
  height: 30px;
  font-weight: normal;
  
}

.navbar-btn img {
  width: 30%;
  padding: 0px;
  margin: 0;
}
.navbar-btn:hover img {
  transform: scale(1.2);   /* make image 20% larger on hover */
}


/*** About Section ***
  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
***/
.about-container {
  display: flex;
  width: 100%; 
  align-items: center; 
  justify-content: space-around; 
  margin: 10px;
  height: 100%;
  
}
#about-caption {
  text-align: center;
}

.about-container img, .about-container iframe {
    gap: 10px; 
    width: 45%; 
    aspect-ratio: 16 / 9;   /* or whatever aspect ratio you want */
    height: auto;
    object-fit: cover;      /* ensures both crop the same way */
    border: none;           /* removes iframe border */

}

/*** Schedule Section ***
  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
***/
.event-schedule-container {
    /* CONTAINER OF WHOLE EVENT-SCHEDULE */
    display: flex; 
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 15px;
    margin-top: 0px;
    min-width: 100px;
    flex-wrap: wrap;
    justify-content: center;
    
}
.event-schedule {
  /* CONTENTS OF EVENT SCHEDULE */
  background-color: rgba(255, 255, 255, 0.395);
  border-radius: 25px;
  padding: 30px;
  margin: 5px;
  margin-bottom: 15px;

  display: flex;
  flex-direction: column;
  
}
/* INDIVID EVENT ITEMS */
.event-schedule:nth-of-type(1) {
  width: 100%;
}
.event-schedule:nth-of-type(2) {
  width: 40%;
  flex-shrink: 1;
  
}
.event-schedule:nth-of-type(3) {
  width: 40%;
  flex-shrink: 1;

}


.event-schedule img {
  width: 100%; 
  height: 100%;
  margin: 5px 10px;
  
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; 
  object-fit: contain;
}

.ticket-container img{
  
}
.ticket-container {
  display: flex;
  
  padding: 15px;
  justify-content: space-around;
}

.concert-times-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

/*** Links Section ***
  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
***/


/*** RSVP Section ***
  
  Purpose:
  - Add style rules for your website's RSVP form

  When To Modify:
  - [ ] Project 6 (REQUIRED FEATURE)
  - [ ] Project 7 (REQUIRED FEATURE)
  - [ ] Any time after
***/

.rsvp-container {
  display: flex; 
  flex-direction: row; 
  gap: 20px;
  width: 100%;
  padding-bottom: 50px; 
  
}
#rsvp-form {
  display: flex; 
  align-items: center;
  justify-content: center;
}
.rsvp-para { 
  width: 55%;
  padding-right: 10px;
}
.rsvp-participants {
  width: 45%; 
  padding-right: 10px;

}
/* Add other rsvp-related selectors here */
.form-container {
  /* button?? */
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  width: 100%; 
  

}
label {
  margin-right: 5px;
}
input {
  border-radius: 30pt;
  margin-right: 15pt;
}
.error {
  border-style: solid;
  border-width: 2px;

  /* Set border-color and background */
  border-color: var(--error-color-border); 
  background-color: var(--error-color);
}

/*** Animations [PLACEHOLDER] [ADDED IN UNIT 8] ***/

/*** Success Modal  ***
  
  Purpose:
  - Add style rules to your website's pop-up modal, which appears
    when a user successfully submits the RSVP form

  When To Modify:
  - [ ] Project 9 (REQUIRED FEATURE)
  - [ ] Any time after
***/

.modal {
  display: none;   /* modal should be hidden by default*/
  position: fixed; /* modal cannot move around the screen */
  z-index: 2;      /* modal appears above other elements */ 
  
  /* TODO: Make the modal fill the entire screen */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  /* Add a semi-transparent background to shadow non-modal elements*/
  background-color: rgba(0,0,0,0.4); /* 40% opacity black */

  /* Flexbox settings for modal */
  /* These won't apply until we update "display:" from "hidden" to "flex" in our JS */
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.modal-container {
    /* Change modal size and spacing here */
    padding: 50px;
    width: 55%;

    /* Customize modal style here */
    background-color: lightsteelblue;
    color: black;
    text-align: center;
    font-size: 1rem;
    font-family: Tahoma, sans-serif; 
    
    border-radius: 30px;

    /* Optional: Use flexbox to customize .modal-item layout */
    display: flex;
    align-items: center;
    position: relative;
    
}
#modal-img { 
  width: 100%;
  padding: 10px;
  margin-left: 10px;
}
#close-modal-btn {
  position: absolute;
  top: 20px;
  right: 45px;  /* Top-right corner */
  width: 0%;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#close-modal-btn:hover {
  box-shadow: none;
  
}

.modal-item {
    /* Optional: Style individual elements within the modal */
    
}


/*** Dark Mode ***/
/* Default dark mode style */
.dark-mode {
    background-blend-mode: multiply;
    background-color: #022b3bda;
    color: var(--text-color-dark-mode);
}


/* Example: Different dark mode style for h1 */
.dark-mode h1 {
    
}

.dark-mode h2 {
  text-shadow: 3px 3px 1px var(--accent-color-medium);
}
.dark-mode .header-item:nth-of-type(2) h2{
  /* anime video games */
    color: white;
    text-shadow: 0px 0px;
}

.dark-mode p {
  color: var(--text-color-dark-mode)
}

/* Example: Different dark mode style for visited links */
.dark-mode a:visited * {

}
.dark-mode a {
  color: var(--accent-color-medium);
}
.dark-mode .block p {
   color: rgb(185, 189, 199);
}

.dark-mode a:hover {
  color: var(--accent-color-purple-dark-mode);
}

/* Dark mode navbar */ 
.dark-mode .navbar ul {
  background-color: rgba(7, 42, 53, 0.975);
}
.dark-mode .navbar ul li a {
    color: var(--text-color-dark-mod);
}

.dark-mode .navbar ul li a:hover {
    color: var(--accent-color-purple-dark-mode);
}

.dark-mode .navbar-btn {
  background-color: var(--bg-color);
}
.dark-mode .navbar-btn:hover {
  background-color: var(--accent-color-purple-dark-mode);
  box-shadow: 0px 0px 5px 2px var(--accent-color-light);

}

/* Dark mode footer */
.dark-mode .footer {
  background-color: var(--accent-color-darkest);
}
.dark-mode .footer p {
  color: rgb(155, 138, 108);
}

/*** Custom Colors (OPTIONAL) ***
  - To reference a color variable in your css, use var(--variable-name) in place of a color value
***/

:root {
    /* Light Mode */
    --bg-color: #9cc1d0;
    --text-color: #042531;

    /* Dark Mode */
    --bg-color-dark-mode: #022b3b;
    
    --text-color-dark-mode: #bcccdc ;
    --accent-color-purple-dark-mode: #9b70cf;

    /* Accent Colors */
    --accent-color-light: #b5cad4dc;
    --accent-color-medium: rgb(57, 133, 156);
    --accent-color-dark: #124a5b;
    --accent-color-darkest: #072a35;
    --accent-color-brown-dark:rgb(78, 48, 17); 
    --accent-color-purple: #62329e;
    --accent-color-fuschia: rgb(161, 50, 178);

    /* Error Colors */
    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}
